@font-face {
    font-family: "TTLakes Regular";
    font-style: normal;
    font-weight: 400;
    src: local("TTLakes Regular"),
         local("TTLakes-Regular"),  
         url("fonts/TTLakes-Regular.woff") format("woff"),
         url("fonts/TTLakes-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "TTLakes Medium";
    font-style: normal;
    font-weight: 400;
    src: local("TTLakes Medium"),
         local("TTLakes-Medium"),  
         url("fonts/TTLakes-Medium.woff") format("woff"),
         url("fonts/TTLakes-Regular.ttf") format("ttf");
}

@font-face {
    font-family: "TTLakes Bold";
    font-style: normal;
    font-weight: 700;
    src: local("TTLakes Bold"),
         local("TTLakes-Bold"),  
         url("fonts/TTLakes-Bold.woff") format("woff"),
         url("fonts/TTLakes-Bold.ttf") format("ttf");
}


* {
    margin: 0;
    font-family: "TTLakes Regular";
}

html {
    box-sizing: border-box;
  }

  *, *:before, *:after {
    box-sizing: inherit;
  }

.container {
background: #F8F8F8;
}

.header {
    background: white;
    display: none;
}

.header__inner {
    display: flex;
    padding: 24px;
    justify-content: space-between;
    align-items: center;
}

.header__btn {
    margin-right: 16px;
    position: relative; 
}

li:last-of-type .header__btn {
    margin-right: 0;
}

.header__menu {
    display: flex;
    align-items: center;
    position: relative;
}

.header__menu::before {
    content: url("imgs/divider.svg");
    bottom: 5px;
    left: 60px;
    position: absolute;
}

.header__menu .header__btn {
    margin-right: 20px;
}

.header__logo {
    display: flex;
    margin-left: 20px;
}

.header__nav {
    display: flex;
    align-items: center;
    position: relative;
}

.header__nav::after {
    position: absolute;
    content: url("imgs/divider.svg");
    right: 115px;
    top: 5px;
}

.header__nav .hidden:nth-child(3) {
    margin-right: 26px;
}

.intro {
    padding: 42px 28px 11px 34px;
}

.intro__title::before {
    content: url("imgs/highlight.svg");
    position: absolute;
    left: 0;
}

.intro__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
}

.title {
    font-family: "TTLakes Bold";
    font-size: 28px;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: #FF3E79;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}

.intro__header-btn {
    display: flex;
}

.intro__btn:first-child {
margin-left: 155px;
}

.intro__btn--repair::before {
    content: "Оставить заявку";
    font-family: "TTLakes Medium";
    font-size: 16px;
    text-wrap: nowrap;
    position: absolute;
    right: 270px; 
    
}

.intro__btn--checkstatus::before {
    content: "Статус ремонта";
    font-family: "TTLakes Medium";
    font-size: 16px;
    text-wrap: nowrap;
    position: absolute;
    right: 74px; 
    
}

.nav {
    display: flex;
    position: relative;
    justify-content: space-between;
    padding: 0;
    
}

.nav__link {
    font-family: "TTLakes Medium";
    text-decoration: none;
    font-size: 16px;
    color: #7E7E82;
}

.nav__list-elem {
    list-style: none;
    color: #7E7E82;
    padding: 8px 21px 7px 22px;
    margin-bottom: 57px;
    white-space: nowrap;
    border: 2px solid #F8F8F8;
    background: #F8F8F8;
}

.nav__list-elem:hover {
    padding: 8px 21px 7px 22px;
    background-color: white;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.nav__list-elem--active {
    padding: 8px 21px 7px 22px;
    background-color: white;
    border: 2px solid #B8FFEC;
    border-radius: 6px;
}

.nav__list-elem:last-child {
    position: absolute;
    top: 40px;
}

.nav__list-elem:nth-child(5) {
    padding: 8px 8px 7px 22px;
}

.intro__main {
    display: flex;
    width: 100%;
}



.intro__text {
    flex-grow: 1;
    flex-basis: 40px;   
    padding-right: 36px;
    font-weight: normal;
}

.intro__text .text {
    font-size: 14px;
    line-height: 20px;
}

.intro__img {
    flex-grow: 1;
    flex-basis: 20px;
    border-radius: 8px;
}

.intro__read-more {
    display: flex;
    margin-top: 13px;
    font-family:"TTLakes Medium";
    font-size: 16px; 
    line-height: 24px; 
    color: #1B1C21;
    cursor: pointer;
}

.intro__read-more::before {
    content: url("imgs/expand.svg");
    margin-right: 8px;
}

@media screen and (min-width: 320px) and (max-width: 1120px) {
    .nav {
        overflow-x: scroll;
    }
    
    .nav::-webkit-scrollbar {
			display: none;
		}
    

    .nav__list-elem {
        margin-bottom: 32px;
    }

    .nav__list-elem:nth-child(5) {
        padding: 8px 21px 7px 22px;
    }

    .nav__list-elem:last-child {
        position: static;
    }

    .header {
        display: block;
        background-color: white;
    }

    .intro__header {
        width: 100%;
    }

    .intro__text p:nth-child(4) {
        display: none;
    }

    .intro__title::before {
        left: 0;

    }

    .hidden {
        list-style: none;
    }

    .intro__header-btn .hidden {
        display: none;
    }

  


    @media screen and (min-width: 320px) and (max-width: 767px) {
        .header__logo {
            margin: 0;
            padding-right: 38px;
        }
    
        .header {
            display: block;
        }
    
        .intro__main {
            width: 100%;
            flex-direction: column;
        }
    
        .header__menu::before {
            display: none;
        }
    
        .intro__text p:nth-child(4) {
            display: none;
        }
    
        .intro__text p:nth-child(3) {
            display: none;
        }
    
        .header__nav .hidden:nth-child(-n+3) {
            display: none;
        }
    
        .intro {
            padding: 0;
        }
    
        .intro__text {
            padding: 0 16px 0 16px;
        }
    
        .intro__nav {
            padding-left: 16px;
        }
    
        .intro__title {
            padding: 24px 0 0 12px;
        }
    
        .header__logo::before {
            display: none;
        }
    }
    
  @media screen and (min-width: 768px) and (max-width: 1119px) {
        .intro__text {
         width: 50%;
        }

        .intro__img {
         width: 50%;
        }
    }
}


.container-menu {
    width:320px;
    background: #FFF;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.20), 
                -2px 0px 4px 0px rgba(69, 79, 126, 0.02);

}

.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 24px 46px 24px;
}

.header-menu__inner {
    display: flex;
    align-items: center;

}

.btn:hover {
    transition: 0.3s;
    opacity: 0.7;
}

.header-menu__btn {
   margin-right: 16px;
}

.main-menu {
   padding-left: 24px;
}

.menu-list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    gap: 32px;
    list-style: none;
}

.menu-list__link {
   position: relative;
   font-family: "TTLakes Medium";
   font-size: 16px;
   line-height: 24px;
   text-decoration: none;
   color: #1B1C21;
}

.menu-list__link--active::before {
     content: url("imgs/highlight.svg");
     position: absolute;
     left: -23px;
     top:-6px;
}

.menu-list__link:hover {
    color:rgba(126, 126, 130, 1);
    transform: scale(1.1) translateX(15px);
}

.menu-list__link--active{
    color: rgba(126, 126, 130, 1);
}

.menu-list__link:first-child:hover {
    color:rgba(126, 126, 130, 1);
    transform: none;
}

.footer-menu {
    padding: 268px 0 32px 24px;
}

.footer-menu__nav {
    display: flex;
    gap:16px;
    padding-bottom: 16px;
}

.contacts {
    all: initial;  
}

.contacts__email {
    font-family: "TTLakes Medium";
    color:#1B1C21;
    text-decoration: none;
     
}

.contacts__phone { 
    display: block;
    font-family: "TTLakes Bold";
    font-size: 24px;
    padding: 12px 0 40px 0;
    color:#1B1C21;
    text-decoration: none;
}

.language {
    display: flex;
    gap:6px;
}

.language__btn {
all: unset;
cursor: pointer;
font-family: "TTLakes Medium";
}

.language__btn:first-child {
    color:#7E7E82;
}

.language__btn:hover {
    transition: 0.3s;
    opacity: 0.7;
}

.language__btn--active:hover {
    opacity: unset;
}


.brands-header {
    height: 80px;
    background: linear-gradient(to right, #F8F8F8 25%, #FFFFFF);
    border-top: 1px solid #D9FFF5;
    display: flex;
    align-items: center;
}


.brands-header__name {
    font-family: "TTLakes Regular";
    color:#7E7E82;
    font-weight: normal;
    font-size: 16px;
    margin-left: 16px;
    width: 288px;
}
    
@media (min-width:768px) {
    .brands-header {
        height: 56px;
    }

    .brands-header__name {
        margin-left: 24px;
        width: 100%;
    }
}
    

.swiper {
    height: 116px;
    transition: height 1s ease-in-out;
}

.swiper::after {
    content: "";
    position: absolute;
    width: 24px;
    height: 81px;
    background: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.00) 100%);
    right: 0;
    top: 10px;
    z-index: 1;
}

.swiper-wrapper {
    display: flex;
    flex-wrap: nowrap;
    height: 116px;
    padding: 16px;
    
}


.swiper-slide{
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 240px;
    max-width: 240px;
    max-height: 72px;
    background-color:  #FFFFFF;
    border-radius: 6px;
    border: 1px solid #EAEAEA;
    
}

.swiper-slide:hover {
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.swiper-pagination {
    height: 8px;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
}

.swiper-pagination-bullet-active {
    --swiper-theme-color:#B5B6BC;
    
}

.swiper-slide__logo {
    margin-left: 16px;
}

.swiper-slide__link {
    display: block;
    position: relative;
    margin-right: 16px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #FF3E79;
    background-color: transparent;
    
    
}

.swiper-slide__link::after {
    content: url("imgs/dropdown.svg");
    position: absolute;
    left: 17px;
    top: 10px;
}


.button-showmore {
    display: none;
}

.button-hide {
    display: none;
}

@media (min-width:768px) {
    .swiper {
        height: 200px;
        overflow: hidden;
        
    }

    .swiper-total {
        height: 380px;
        transition: height 1s ease-in-out;
    }
    
    .swiper-wrapper {
        flex-wrap: wrap;
        max-width: 770px;
        padding: 24px;
    }

    .swiper-slide{
        min-width: 224px;
        max-width: 224px;
        min-height: 72px;
        max-height: 72px;
        margin-bottom: 16px;
        margin-right: 24px;
    }
   
    .button-showmore {
        display: block;
        font-family: "TTLakes Medium";
        border: none;
        background-color: transparent;
        margin-left: 32px;

        font-weight: 500;
        font-style: normal;
        font-size: 16px;
    }

    .button-hide {
        display: block;
        font-family: "TTLakes Medium";
        border: none;
        background-color: transparent;
        margin-left: 32px;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
    }

    .button-showmore::before {
        content: url("imgs/expand.svg");
        margin-right: 17px; 
    }

    .button-hide::before {
        content: url("imgs/upexpand.svg");
        margin-right: 17px;
    }

    .button--hidden {
        display: none;
    }
}

@media (min-width:1024px) {
    .swiper-wrapper {
        flex-wrap: wrap;
        max-width: 1024px;
        padding: 24px;
    }

    .swiper-total {
        height: 300px;
    }
    
    .swiper-slide:first-child {
        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }
}